h1{
	font-family: 'DM Serif Display', serif;
	padding: 15px;
		margin-bottom: 10px;
	border-width: 8px;
	border-bottom-style: groove;
}
img{
	padding: 20px;
	margin-bottom: 10px;
	border-bottom-style: groove;
	border-width: 8px;
}

body{
	font-family: 'Noto Sans', sans-serif;

	font-weight: bold;
	border-style: solid;
}

div{

	padding-left: 15px;
}
p{
	padding-left: 25px;

}
fivepanel{
	background-color: #6a8fe6;
}
table{
	text-align: left;
	margin-top:5px;
	border-style:solid;
	border-width: 3px;
}
h2{
font-family: 'DM Serif Display', serif;
	font-weight: bold;
	font-size: 20px;
}
table, tr, th{
	border-style: solid;
	border-width: 2px;
	
}